html,
body {
    box-sizing: border-box;

    font-family: Arial, sans-serif;
    font-size: 16px;

    background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

a,
h1,
h2,
p,
section,
ul,
li,
img,
pre,
code {
    margin: 0;
    padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;

  background-color: #a585a7;
}

main {
  margin-bottom: 30px;
}

header {
  margin-bottom: 15px;

  text-align: center;
  font-size: 24px;
}

header,
footer {
  background-color: #258bcf;
}

header a {
  text-decoration: none;
  color: black;
}

section {
  margin: 0 20px 20px 20px;

}

h2 {
  margin-bottom: 10px;
  padding-left: 20px;
}

p {
  margin-bottom: 10px;
}

ul li {
  margin-left: 20px;
  padding-bottom: 10px;

  list-style-type: circle;
}

.contacts-and-image {
  display: flex;
  justify-content: space-between;
}

table {
  width: 500px;
  margin: 0 auto;

  background-color: #fff;
  border-collapse: collapse;
  border: 2px solid black;
}

table thead,
th,
tr,
td {
  border: 2px solid black;
}

thead {
  background-color: #5b5bd0;
}

pre {
  margin-bottom: 10px;

  background-color: #bdbbc6;
}

footer p {
  margin: 0;
  padding: 15px;

  font-size: 20px;
  text-align: center;
}
